@charset "utf-8";

@media screen and  (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .abc{
        color: red;
    }
}

/* base style ＞必須　*/
body { 
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}
label,input,textarea,select,button{
    cursor: pointer;
    /* カーソルが指マークになる */
}
.button{
    border: 0;
}
/* 
section
 */
.section{
    padding: 30px 15px;
    /*  */
}
.section.section-secondary{
    background: #efefef;
}
.section-headline{
    text-align: center;
    /* インライン要素の水平方向の位置揃えを決める */
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;
}
.section-button{
    margin-top: 40px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .section{
        padding: 20px 10px;
        /* スマホサイズではpaddingを狭くする */
    }
    .section-headline{
        font-size: 30px;
        /* スマホサイズではフォントサイズを小さくする */
        margin: 20px;
    }
    .section-button{
        margin-top: 20px;
        /* スマホサイズではボタンの余白を狭くする */
    }
    
}
/*
 header
 */
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    /* ほかの要素と関係なく固定させる */
    z-index: 10;
    top: 0;
    left: 0;
}
.header-logo{
    margin: 0;
}
.header-logo > a{
    display: block;
    color: transparent;
}
/* .header-nav{ */

/* }     */
.header-navlist{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .header-navitems{} */
.header-navitem > a{
    text-decoration: none;
    /* リンクの下線を消す */
    color: #333;
    padding: 10px;
    /* 上下＋左右のpadding */
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    /* 下線を透明にしておく */
    transition: boder-color .25s;
}
.header-navitem > a:hover{
    border-bottom: 2px solid #333;
    /* hoverで下線をつける */
}
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .header{
    
        align-items: center;
        padding: 10px;
        font-size: 12px;
    }
    .header-navlist{
        /* flex-direction: column; */
        /* スマホサイズでは縦並びにする */
        width: 100%;
    }
    .header-navitem > a{
        text-align: center;
        width: 100%;
        /* スマホサイズでは横幅を１００％にする */
    }
    
}
/*
 hero
 */
 .hero{
    width: 100vw;
    height: 100vh;
    /* windowsサイズの横幅、縦幅 */
    position: relative;
    overflow: hidden;
}
 .hero > strong {
    position: absolute;
    z-index: 3;
    /* 数字が大きい方が優先表示される */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* 要素をちょうど真ん中にするためのテク */
    font-size: 120px;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}
.hero > video{
    position: absolute;
    z-index: 1;
    width: auto;
    height: 150%;
}
.hero-particles{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .hero > strong {
        font-size: 60px;
        /* スマホサイズでは文字を小さくする */
    }
    .hero > video{
        height: 100%;
        width: auto;
        /* スマホサイズでは動画の高さを１００％にする */
    }
    
}

/* 
about
 */
.about{
    margin: 0;
    display: flex;          
}
/* .about-image{} */
.about-caption{
    padding-left: 15px;
}
.about-headline{
    margin: 0 0 20px;
    font-size: 30px;
}
/* .about-description{} */
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .about{
        flex-direction: column;
        /* スマホサイズでは縦並びにする */
        display: block;
    }
    .about-caption{
        padding-left: 0;
        text-align: center;
    }
    .about-image{
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .about-headline{
        font-style: 20px;
        text-align: center;
    }
}

/*
 grid
 */
.grid{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;  
    /* display:flexがつく要素を中央ぞろえにする */
    justify-content: center;
    /* 水平方向の揃え（右寄せ、間にスペースなど（space-between) */
} 
.grid-item{
    list-style: none;
}
.grid-col-2 > .grid-item {
    width: 50%;
    /* 二分割で５０％、三分割で３３．３％、４分割で２５％＞画面の変動に併せて横並びの大きさが変わる */
}
.grid-col-3 > .grid-item {
    width: 33.3%;
}
.grid-col-4 > .grid-item {
    width: 25%;
}
/* Altキー＋範囲指定で複数範囲指定 */
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .grid{
        display: block;
        /* スマホサイズではブロックレベル要素にする */
        display: flex;
    }
    .grid-item{
        width: 100%;
        /* スマホサイズでは横幅を１００％にする */
        margin-bottom: 20px;
        /* スマホサイズではアイテムの下に余白をつける */
        display: flex;
    }
    .grid-col-2 > .grid-item {
        /* width: 100%; */
        /* スマホサイズでは１列にする */
    }
    .grid-col-3 > .grid-item {
        /* width: 100%; */
        /* display: flex; */
    }
    .grid-col-4 > .grid-item {
        width: 100%;
        margin: 20px 0;
    }
    
}

/*
 feature
 */
.feature{
    text-align: center;
    padding: 0 15px;
    /* paddingは上下＋左右指定可能 */
}
.feature-headline{
    font-weight: bold;            
    /* 太字にできる */
    margin: 0 0 20px;

}
.feature-img{
    margin: 0 0 20px;
}
.feature-description{
    text-align: left;
    margin: 0;
    /* <P>はデフォルトでmarginが入る */
}

/*
 card
 */
.card{
    padding: 0 10px;
}
.card-link{
    text-decoration: none;
    /* リンクの下線部分をなくす */
    color: #333;
}
.card-link:hover{
    /* hoverをつけると自動で青＋下線＞hoverつけたclassを再指定して操作（上） */
    display: block;
    /* リンクタグはインライン要素なので、ブロックレベル要素にする */
    color: blue;
    text-decoration: underline;
    position: relative;
    background-color: #eee;
    transition: backgrond-color .25s;
    /* transition+対象のタブ名でプロパティが変化するまでの時間を設定可能 */
}
.card-label{
    position: absolute;
    /* relative+absoluteでtop+leftを自由に移動できる */
    background-color: #999;
    left: 0;
    top: 0;
    color: #fff;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
}
.card-img{
    width: 100%;
    height: auto;
}
.card-info{
    padding: 5px 10px;
}
.card-time{

}
.card-headline{
    margin: 0%;
}
.card-description{
    margin: 0%;
}
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .card-link:hover{
        background-color: #fff;
        /* hover時の背景色を白にする */
    }
    .card-label{
        position: static;
        /* スマホサイズではラベルを静的にする */
        display: inline-block;
        margin-bottom: 10px;
    }
    .card-img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    
}

/*
 avator
 */
.avator{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    padding: 10px;
}
.avator-name{
    font-weight: bold;
    padding-left: 15px;
}
.avator-img{
    /* padding: 5px 5px;  */
    margin: 0%;
    border-radius: 50%;
    /* 角丸を作る、５０％で完全に丸になる */
    overflow: hidden;
    /* 画像に対して角丸を作るときはみ出た部分をカットする */
}

/*
 button
 */
 .button{
    display: inline-block;
    /* padding+marginを持てる（インライン要素は左右のみ） */
    color: #fff;
    font-weight: bold;
    background-color: #333;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #bbb;
    /* 上下左右にはみ出る量（上下、左右、透明度、色） */
    transition: box-shadow .25s;
 }
 .button:hover{
    box-shadow: 0 0 0 #bbb;
 }
 .button.button-submission{
    background: #92d3ca;
 }

 /*
contact
  */
.select{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.input{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.radio{
    margin: 0 10px;
}
.textarea{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
    min-height: 100px;
}
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .select, .input, .textarea{
        min-width: auto;
        width: 100%;
        /* スマホサイズでは横幅を１００％にする */
    }
    .radio{
        margin: 0 5px;
        /* スマホサイズではラジオボタンの間隔を狭くする */
    }
    
}
/*
 form
 */
.form{

}
.form-table{
    margin: 0 auto;
    /* marginは上下０でも左右をオートにすると中央寄せになる */
}
.form-table th{
    padding: 10px;
    text-align: left;
}
.form-table td{
    padding: 10px;
}
.form-button{
    /* padding: 10px; */
    margin-top: 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .form-table th, .form-table td, .form-table tbody{
        display: block;
        /* スマホサイズではブロックレベル要素にする */
        width: 100%;
        /* 横幅を１００％にする */
    }
    .form-table th{
        margin-bottom: 10px;
        /* thの下に余白をつける */
        display: block;
    }
    .form-table td{
        margin-bottom: 20px;
        /* tdの下に余白をつける */
        display: block;
    }
    
}
/*
 works
 */
.works{
    padding: 20px;
    margin: 40px 0;
    text-align: center;
}
.works > img {
    margin: 0 15px;
}
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .works{
        display: block;
        /* スマホサイズではブロックレベル要素にする */
        margin: 20px 0;
        padding: 10px;
}
    .works > img {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin: 5px;
        /* スマホサイズでは画像の横幅を１００％にする */
    }
    
}
/*
 footer
 */
.footer{
    background-color: #333;
    color: #fff;
}
.footer-map{
    margin: 0;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-map > iframe{
    width: 60%;
}
.footer-mapinfo{
    width: 40%;
    padding: 15px;
    /* box-sizing: border-box;をsanitize.cssの中に入れると上記は横幅40％の中にpadding30px(右＋左＝１５ｐｘ＋１５ｐｘ)が内包される */
}
.footer-maplogo{
    font-size: 25px;
    font-weight: bold;
}
.footer-maplogo > svg {
    fill: transparent;
    margin-right: 10px;
}
.footer-mapaddress{
    font-style: normal;
}
.footer-mapaddress > a {
    color: #fff;
    text-decoration: none;
}
.footer-line{
    border-color: #444;
}
.footer-copy{
    display: block;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 768px) {
    /* スマホサイズの画面幅 */
    .footer-map{
        flex-direction: column;
        /* スマホサイズでは縦並びにする */
        padding: 15px;
        display: block;
    }
    .footer-map > iframe{
        width: 100%;
        height: 300px;
        /* スマホサイズでは横幅を１００％、高さを300pxにする */
    }
    .footer-mapinfo{
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    
}